*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url("/assets/img/mario-bros-cenario.jpg");
    background-position: center;
}

.pipe{
position: absolute;
bottom: 0%;
width: 60px;

animation: pulo-do-gato 2s infinite linear;
}

.mario{
    position: absolute;
    bottom: 0%;
    width: 120px; 
   
   
}
.jump{
    animation: jump-fujão 500ms ease-out;
}


@keyframes pulo-do-gato{
    from{
right: -80px;
    }
    to{
right: 100%;
    }
}

@keyframes jump-fujão{
    0%{
        bottom: 0;
    }

40%{
    bottom: 180px;
}
50%{
    bottom: 180px;    
}
70% {
    bottom: 180px;
}
100%{
    bottom: 0px;
}
}
